<h1>Listing movies</h1>

<% form_tag({}, {:method => :get}) do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Disk</th>
    <th>Imdb link</th>
  </tr>

<% for movie in @movies %>
  <tr class="<%= cycle 'odd', 'even' %>">
    <td><%=h movie.title %></td>
    <td><%=h movie.disk_label %></td>
    <td><%=h movie.imdb_link %></td>
    <td><%= link_to 'Show', movie %></td>
    <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    <td><%= link_to 'Destroy', movie, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New movie', new_movie_path %>
