<%= image_tag @movie.image, :alt => @movie.title %>

<h1><%=h @movie.title %> (<%= @movie.rating %>)</h1>
<h4>
  <%=link_to "IMDB", "http://www.imdb.com/title/#{@movie.imdb_link}/" %>
	<%= @movie.genres.join(', ') %>
</h4>

<p>
  <b>Disk:</b>
  <%=h @movie.disk_label %>
</p>

<blockquote><%= @movie.synopsis %></blockquote>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
